<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>CGU</title>
			{% include 'layout/stylesheetsLayout.twig' %}
		</head>
		<body>


			{% include 'layout/headerLayout.twig' %}
			
			{% include 'layout/carouselLayout.twig' %}
			{% include 'layout/menuLayout.twig' %}
			<div class="foot"> 
				<h1>CGU</h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae doloremque quia minus voluptatem, dicta totam ipsa libero esse neque mollitia sapiente aspernatur magni vitae laudantium ea, nesciunt ut laborum hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolores fuga ratione laboriosam assumenda quas libero enim quasi dignissimos iure error soluta dolorum, quae! Libero laudantium eos natus harum omnis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia iusto architecto laudantium recusandae. Odit doloremque deleniti ipsam accusamus dolorem quam consequatur, ea neque ipsa harum quis animi tempore obcaecati nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint reiciendis quas itaque possimus totam? Ullam, dolorem, alias. Culpa sapiente labore, fugit, aut recusandae earum, rem, impedit odio laboriosam dicta architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit aut facilis recusandae qui similique ipsa doloribus officiis, commodi delectus earum eveniet autem. Minus molestiae beatae dignissimos praesentium odio nostrum asperiores. </div>
			{% include 'layout/footerLayout.twig' %}
			{% include 'layout/scriptLayout.twig' %}
		</body>


		
</html>
