<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Serie</title>
			{% include 'layout/stylesheetsLayout.twig' %}
		</head>
		<body>
			{% include 'layout/headerLayout.twig' %}
			{% include 'layout/carouselLayout.twig' %}
			{% include 'layout/menuLayout.twig' %}
			<div class="contact">
				<p>delmas.theo@laposte.net</p>
				<p>laetitia.tanchoux@nantes.imie.fr</p>

			</div>

			{% include 'layout/footerLayout.twig' %}
			{% include 'layout/scriptLayout.twig' %}
		</body>


		
</html>