<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Acceuil</title>
		
		{% include 'layout/stylesheetsLayout.twig' %}

		<!-- CSS -->

		</head>
		<body>

			{% if pseudo %}
				{% include 'layout/headerConnectLayout.twig'%}
			{% else %}
				{% include 'layout/headerLayout.twig' %}
		
			{% endif %}

			{% include 'layout/carouselLayout.twig' %}
			{% include 'layout/menuLayout.twig' %}
			{% include 'layout/acceuilImgLayout.twig' %}
			{% include 'layout/footerLayout.twig' %}
			{% include 'layout/scriptLayout.twig' %}
		</body>


		
</html>

