<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Login</title>
		
		{% include 'layout/stylesheetsLayout.twig' %}

		<!-- CSS -->

		</head>
		<body>

		{% include 'layout/headLayout.twig' %}

		{% include 'layout/carouselLayout.twig' %}



		{% include '../login.twig' %}
		{% include 'layout/footerLayout.twig' %}
		{% include 'layout/scriptLayout.twig' %}
		</body>


		
</html>

