<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Login</title>

		<body>
		

		{% include 'layout/stylesheetsLayout.twig' %}

		<!-- CSS -->

		</head>

		{% include 'layout/headerLayout.twig' %}

		{% include 'layout/carouselLayout.twig' %}
	
		{% include 'layout/menuLayout.twig' %}


		{% include '../registration.twig' %}
		{% include 'layout/footerLayout.twig' %}
		{% include 'layout/scriptLayout.twig' %}
		</body>


		
</html>
