
{% block image %}
	<div>
		<p class="image">
		 	<a href=""><img class="images" src="img/robot-accueil.jpg" alt="image 1" /></a> <a href=""><img class="images" src="img/scorpion-accueil.jpg" alt="image 2" /></a> <a href=""><img class="images" src="img/walking-accueil.jpg" alt="image 3" /></a><br>

		 	<a href=""><img class="images" src="img/breaking-accueil.jpg" alt="image 4" /></a> <a href=""><img src="img/game-accueil.jpg" class="images" alt="image 5" /></a> <a href=""><img class="images" src="img/how-accueil.jpg" alt="image 6" /></a> <br>

		 	<a href=""><img class="images" src="img/big-accueil.jpg" alt="image 7" /></a> <a href=""><img class="images" src="img/south-accueil.jpg" alt="image 8" /></a> <a href=""><img class="images" src="img/fear-accueil.jpg" alt="image 9" /></a>
		</p>
	</div>
{% endblock %}
