
{% block image %}
	<div>
		<p class="image">
		 	<a href="/series/14"><img class="images" src="/img/robot-accueil.jpg" alt="image 1" /></a> 
		 	<a href="/series/13"><img class="images" src="/img/scorpion-accueil.jpg" alt="image 2" /></a> 
		 	<a href="/series/2"><img class="images" src="/img/walking-accueil.jpg" alt="image 3" /></a><br>

		 	<a href="/series/3"><img class="images" src="/img/breaking-accueil.jpg" alt="image 4" /></a> 
		 	<a href="/series/7"><img src="/img/game-accueil.jpg" class="images" alt="image 5" /></a> 
		 	<a href="/series/8"><img class="images" src="/img/how-accueil.jpg" alt="image 6" /></a> <br>

		 	<a href="/series/11"><img class="images" src="/img/big-accueil.jpg" alt="image 7" /></a> 
		 	<a href="/series/1"><img class="images" src="/img/south-accueil.jpg" alt="image 8" /></a> 
		 	<a href="/series/12"><img class="images" src="/img/fear-accueil.jpg" alt="image 9" /></a>
		</p>
	</div>
{% endblock %}
