
{% block footer %}
<footer class="container-fluid footer">
	<nav class="coucou">
		<a href="mentions"> Mentions légales</a>
		<a href="/cgu"> CGU</a>
		<a href="faq"> FAQ</a>
		<!--<a href=""> Plan du site</a>-->
	</nav>
</footer>

{% endblock %}

