	{% block head%}
	<head>
		<meta charset="UTF-8"/>
		<title>Accueil</title>

		<!-- CSS -->
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
	</head>

	{% endblock%}