
{% block header %}
<header class="container-fluid header">
	<div class="container">
		<a href="/"><img class="logo" src="../img/logo.png"></a>
			<nav class="compte">
				<a href="/userWall/"> {{pseudo}} </a>
				<a href="/"> Se deconnecter </a>
			</nav>


	</div>

</header>

{% endblock %}
