

{% block menu %}
<div class="container">
	<nav class="menu">
		<a class="survol" href=""> Accueil </a>
		<a class="survol" href=""> Séries </a>
		<a class="survol" href=""> Mur </a>
		<a class="survol" href=""> Contact </a>


		<form method="post">
			<input name="typehead" type="text" placeholder="Recherchez une série">
			<input type="submit" value="OK">
			<input class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text" />
		</form>

	</nav>

</div>

{% endblock%}
