

{% block menu %}
<div class="container block-menu">
	<nav class="menu">
		<a class="survol" href="/"> Accueil </a>
		<a class="survol" href="/series"> Séries </a>
		<a class="survol" href="/userWall"> Mur </a>
		<a class="survol" href="/contact"> Contact </a>


		<form method="post">
			<input name="search" type="text" placeholder="Recherchez une série">
			<input type="submit" value="OK">

		</form>

	</nav>

</div>

{% endblock%}
