<!DOCTYPE html>
<html>
<head>
	<title>home</title>
</head>
<body>


	<form method="post">
		<input name="search" type="text" placeholder="pseudo">
		<input type="submit" value="rechercher">
	</form>




	{% block body %}

	{% endblock %}


</body>
</html>

