
{% block login %}

<form method="post">
	
	<label for="pseudo">Pseudo <input name="pseudo" type="text" required placeholder="email ou pseudo"></label></br></br>
	<label for="pass">password <input name="pass" type="text" required placeholder="password"></label></br></br>
	<input type="submit">
</form>


{% endblock %}