
{% block login %}

<form method="post">
	
	<label for="pseudo">Pseudo <input name="pseudo" type="text" required placeholder="email ou pseudo" value="essai3"></label></br></br>
	<label for="pass">password <input name="pass" type="password" required placeholder="password" value="Vanessa31725$"></label></br></br>
	<input type="submit">
</form>


{% endblock %}