
{% block registration %}

<form method="post">
	<label for="pseudo">pseudo <input type="text" name="pseudo" required="true"></label></br></br>
	<label>Adresse Mail <input type="mail" name="mail" required="true"></label></br></br>
	<label>password <input type="password" name="pass" required="true"></label></br></br>
	<label>confirm pasword <input type="password" name="passconfirm" required="true"></br></br>
	<input type="submit">
</form>


{% endblock%}