

{% block registration %}

<form method="post">
	<label for="pseudo">pseudo <input type="text" name="pseudo" required="true" value="essai5"></label></br></br>
	<label>Adresse Mail <input type="mail" name="mail" required="true" value="eay@crypt5.gmail"></label></br></br>
	<label>password <input type="password" name="pass" required="true" value="Vanessa31725$"></label></br></br>
	<label>confirm pasword <input type="password" name="passconfirm" required="true"value="Vanessa31725$"></br></br>
	<label>Sexe : 
		<label>Homme <input name="sexe" type="radio" value="male"></label>
		<label>Femme <input name="sexe" type="radio" value"female"></label>
	</label>
	<input type="submit">
</form>


{% endblock%}