
{% block body%}
<ul>
	{% for result in results %}
	    <li>

	    	<div class="block-serie">
		        <p><a href="/series/{{result.serie_id}}">{{ result.nameSerie }}</a></p>
		        <p class="real">{{ result.realisateur}}</p>

	        </div>

	    </li>
	{% endfor %}
</ul>

{%endblock%}