
<ul>
	{% for result in results %}
	    <li>
	        <p><a href="/series/{{result.serie_id}}">{{ result.nameSerie }}</a></p>
	        <p>{{ result.realisateur}}</p>
	        <div>{{ result.synopsisSerie}}</div>

	    </li>
	{% endfor %}
</ul>