
<ul>
	{% for result in results %}
	    <li>
	        <p>{{ result.nameSerie }}</p>
	        <p>{{ result.realisateur}}</p>
	        <div>{{ result.synopsisSerie}}</div>

	    </li>
	{% endfor %}
</ul>