{% block users %}
<ul>
	{% for result in results %}
	    <li>
	    	
	        <p class="pseudo">
	        	<a href= "/userWall/{{result.user_id }}">{{result.pseudo}}</a>
	        	<button class="delete">bannir</button>
	        </p>
	    </li>
	{% endfor %}
</ul>
{%endblock%}
